<br>
<br>
<center><b><font size=200>Gotta SQL 'Em All</font></b></center>
<br>

<img src='pokemon_all.jpg'></img>

## <center><b>The Database</b></center>
**Steps to view ERD:**
1. Go to Sql Server Management Studio >
2. Object Explorer >
3. Databases >
4. Choose and expand your Database.
5. Under your database right click on "Database Diagrams" and select "New Database Diagram".
6. It will a open a new window. Choose tables to include in ER-Diagram (to select multiple tables press "ctrl" or "shift" button and select tables).
7. Click add.
8. Wait for it to complete. Done!!

<img src='schema.png'></img>

## Connecting to the database

## Using SELECT
### Get a list of all Pokemon names

## Using WHERE
### Get the names of all Pokemon that have Water as their primary type (Type1)

## Using ORDER BY
### Get the names and weights of each Pokemon from highest weight to lowest weight

## Using LIMIT
### Get the names and heights of the top 5 tallest Pokemon

## Using GROUP BY
### Get the type and average weight and height for each primary type

## Using JOIN
### Create a table of move names, type, and type ID

## Combining methods
### Find the two Pokemon types with the least weaknesses

## BONUS QUESTIONS

### Find the top 5 Pokemon having the highest variety of move types.

### Get the names of all Pokemon who learn a super effective move against Water type Pokemon. Also include the name of one of these moves the Pokemon learns.

In [1]:
#First, try using a subquery to get types super effective against water.

## INSERT

### <center>A new Pokemon was discovered! </center>

<img src='celebi.png'></img>

### Add Celebi to the database. Celebi is a Psychic and Grass type Pokemon who is 2 feet tall and weighs 11 pounds. Celebi is of the genus 'onion' and has a Pokedex ID of 251.

## Database Management

Pokemon were recently discovered to have unique abilities. Add a new table to the database to store these abilties. Make sure to include the ability name, an ability ID, and a text description of the ability's effect.

Also, add the ability called Flash Fire. It should have an ID of 18 and has the effect "Immune to Fire type moves. Being attacked by a fire-type move increase the power of future Fire type attacks."

## Challenge Activity

 <center>You're about to face gym leader Sabrina who has a team full of Psychic type Pokemon. 
    
<img src='sabrina.png'></img>

<center>Your team currently consists of a Hitmonchan and an Arbok, both of which are weak to Psychic type attacks and have no moves that will be super effective against Psychic Pokemon.
    
<img src='team.jpg'></img>

Assuming the highest level of Pokemon you could currently catch is 20, you want to find a Pokemon that has an attack which is super effective against Psychic type Pokemon with the highest possible power level. That Pokemon should also not be weak to Psychic type attacks.

**Which Pokemon should you try and catch to defeat Sabrina?**

#### Hints:
- Your answer should return the name of the Pokemon, the name of the move, the power of the move, and the level at which the Pokemon learns the move.
- If you need to compare text values and the columns do not have the same formatting (case-wise) you can use LOWER() to allow you to compare them.
- If you have two columns of the same name from two different tables, you have to specify which one you are going to use. For example - pokemon.id vs types.id