## SQL/Pandas - Practice 
[Good resource for common SQL conventions](https://wiki.easyvista.com/xwiki/bin/view/Documentation/SQL+rules)

[Awesome Netflix article on the roles of a Data Scientist](https://netflixtechblog.com/notebook-innovation-591ee3221233)

**Basic SQL commands:**
- Construct SQL queries
- Use JOIN to merge tables along logical columns
- Grouping Data with SQL
- Construct SQL queries

SELECT

FROM

WHERE

GROUP BY

ORDER BY

LIMIT

**Options for each:**

Select: DISTINCT, using AS to rename columns, single number aggregates, COUNT() to count, * for "all"

From: also uses aliasing with AS

Where: =, BETWEEN, IN, wildcards with %, AND, OR, NOT pattern matching with LIKE and ILIKE

Order by: ASC and DESC

Limit: #

**Here are some SELECT statements. We truncate results with LIMIT, and filter them with WHERE. We use DISTINCT to remove duplicated results.**

|                      SQL                     |                 Pandas                |
|:--------------------------------------------:|:-------------------------------------:|
| select * from airports                       | airports                              |
| select * from airports limit 3               | airports.head(3)                      |
| select id from airports where ident = 'KLAX' | airports[airports.ident == 'KLAX'].id |
| select distinct type from airport            | airports.type.unique()                |

In [ ]:
import pandas as pd
import sqlite3

con = sqlite3.connect('flights.db')
cursor = con.cursor()

## Question 1: Selecting with multiple conditions 
**Select all airports that are of the 'seaplane_base' type in the 'US-CA' region. Do this in SQL and Pandas.**

## Question 2: Order By 
**Select all from airport-frequency where airport_indent = 'KLAX' and put in descending order. Do this in SQL and Pandas.**

## Question 3: In - Not In 
**Select all from airports where type is in 'heliport' and 'balloonport'. Also, do the opposite, instead of in - do not in.**

## Question 4: Group By
**Select 'iso_country' and 'type' from airports, then group by these columns AND order by these columns. You might want to look up the difference between SQL and Pandas for the method count().**

## Question 5: Join 

**(INNER) JOIN:** Returns records that have matching values in both tables<br>
**LEFT (OUTER) JOIN:** Returns all records from the left table, and the matched records from the right table<br>
**RIGHT (OUTER) JOIN:** Returns all records from the right table, and the matched records from the left table<br>
**FULL (OUTER) JOIN:** Returns all records when there is a match in either left or right table

![](https://i.pinimg.com/originals/bc/0c/8b/bc0c8ba4d12051502a68bade9bba4bc5.png)

**How can we join all 3 of our dfs? In SQL and Pandas.**